<!DOCTYPE html>
<head>
    <title>RPi Web Server</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>RPi Web Server</h1>
    {% for pin in pins %}
    <h2> {{ pins[pin].name}}
    {% if pins[pin].state == true %}
        is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
        <a href="/{{pin}}/off" class="button">Turn off</a></div></div>
    {% else %}
        is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
        <a href="/{{pin}}/on" class="button">Turn on</a></div></div>
    {% endif %}
    {% endfor %}
</body>
</html>
    